body {
	margin: 0px;
	font-family: montserrat;
}

@font-face {
    font-family: headliner;
    src: url("http://hotcheetosminecraft.github.io/Headliner.ttf") format("truetype");
}

@font-face {
    font-family: montserrat;
    src: url("http://hotcheetosminecraft.github.io/Montserrat.otf") format("opentype");
}

p {
	font-size: 1.2em;
	margin: 20px;
}

#headliner {
	font-family: headliner;
	color: #FF5555;
	letter-spacing: 0.02em;
	font-size: 2em;
	margin: 40px;
}

#topbox {
	text-align: center;
	line-height: 100vh;
}

#topimage {
	height: 80vh;
	position: absolute;
	width: 100%;
	background-image: url("http://hotcheetosminecraft.github.io/background.jpg");
	background-size: cover;
	background-position: center;
	-webkit-filter: grayscale(1) brightness(0.3);
}

#logo {
	position: relative;
	z-index: 10;
	width: 80%;
	max-width: 900px;
}

#footer {
	height: 100px;
	background-color: rgb(30,30,30);
	line-height: 100px;
	text-align: center;
}

#footer a {
	color: rgb(200,200,200);
	transition: 0.4s;
}

#footer:hover a {
	color: #FF5555;
	transition: 0.1s;
}

#middle {
	position: relative;
	top: -10vh;
}